.data{
    height: 500px;
    width: 500px;

}

.heading{
    border-bottom: 4px solid black;
    align-items: center;
    justify-content: center;
     margin-left: 250px;
     margin-right: 250px;
     margin-bottom: 30px;
     padding-top: 50px;
 }