@import "../../assets/scss/_variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");

#mainsection {
  margin-top: 0%;
  padding: 2%;
  padding-bottom: 3%;
  background-color: #8e8e8e;
  background-image: url(../../../public/images/Icons.png);
  .all-content {
    box-shadow: $box-shadow;
    background-color: #ffffff;
  }
}
.form {
  margin-top: 12%;
}
.form h3 {
  text-align: center;
  margin-bottom: 40px;
}
.forget-content {
  margin-top: 25%;
}
.signin {
  border: none;
  padding: 15px 70px;
  border-radius: 8px;
  display: block;
  margin: auto;
  height: 45px;
  margin-top: 40px;
  background: $red;
  color: $white;
  font-weight: bold;
  -webkit-box-shadow: 0px 9px 15px -11px RGB(254, 111, 63);
  -moz-box-shadow: 0px 9px 15px -11px RGB(254, 111, 63);
  box-shadow: 0px 9px 15px -11px RGB(254, 111, 63);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    position: absolute;
    display: block;
    font-size: large;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  &:hover {
    span {
      -webkit-transform: translateX(20px);
      transform: translateX(13px);
      // color: rgb(168, 167, 167);
    }
  }
}
#l-switch {
  margin-top: 12.4% !important ;
}
.car_icon {
  font-size: 20px;
}
.main_content1 {
  background-color: #ffffff;
}
#png {
  height: 520px;
  width: 450px;
  margin-top: 1%;
}
.main_content2 {
  height: 530px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-box {
  position: relative;
  margin: 10px 10px;
  .input-label {
    position: absolute;
    color: $dark-blue;
    font-size: 16px;
    font-weight: 500;
    max-width: calc(100% - (2 * 8px));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 8px;
    top: 13px;
    padding: 0 8px;
    transition: 250ms;
    user-select: none;
    pointer-events: none;
    svg {
      position: relative;
      width: 15px;
      height: 15px;
      top: 2px;
      transition: 250ms;
    }
  }
  .input-1 {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    color: rgb(41, 41, 41);
    border: none;
    border-bottom: 2px solid $dark-blue;
    padding: 13px 15px 3px;
    background-color: transparent;
    transition: 250ms;
    &:focus {
      outline: none;
      border: none;
      border-bottom: 2px solid $dark-blue;
      transition: 250ms;
    }
  }
}
.eye {
  color: $grey;
  position: absolute;
  margin-left: -3%;
  margin-top: 3%;
  cursor: pointer;
}

.or {
  text-align: center;
  font-size: 27px;
  color: $grey;
  font-family: monospace;
}

.google-icon {
  height: 35px;
  width: 35px;
  margin-bottom: 15px;
  transition: 0.1;
  cursor: pointer;
}
.modal-heading {
  margin-left: 7%;
}
.modal-title {
  font-size: 28px;
  margin: 0;
  font-weight: 800;
  color: $grey;
}
.modal-desc {
  font-size: 14px;
}
.google-icon:hover {
  transform: scale(1.1);
}
.forgetpass {
  text-decoration: none;
  float: right;
  right: 28px;
  color: $grey;
  margin-right: 1%;
  cursor: pointer;
}

.forgetpass:hover {
  text-decoration: none;
}

.end-tag {
  position: absolute;
  float: right;
}
.rmb {
  position: absolute;
  margin-left: -24%;
  margin-top: 0px;
  color: #524d4d;
  font-size: 16px;
}

.input-box p {
  color: $red;
  font-size: 12px;
  padding: 0%;
  margin: 0%;
}
.input-box.focus,
.input-box.active {
  .input-label {
    top: -8px;
    background: transparent;
    font-size: 15px;
    transition: 250ms;
    svg {
      position: relative;
      width: 11px;
      height: 11px;
      top: 2px;
      transition: 250ms;
    }
  }
}
.switch {
  color: $blue;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  margin-right: 3%;
}
.switch:hover {
  text-decoration: underline;
  color: $blue;
}

@media screen and (max-width: 1366px) {
  #l-switch {
    margin-top: 17.1% !important ;
  }
  .google-icon {
    height: 30px;
    width: 30px;
    margin-bottom: 10px;

  }
  .or-text{
    font-size: 20px;
  }
  .modal-title {
    font-size: 22px;

    font-weight: 700;
  }
  #png {
    height: 380px;
    width: 335px;
  }
  .modal-desc {
    font-size: 13px;
  }
  .form {
    font-size: medium;
  }
  .signin{
   
    padding: 12px 60px;
    border-radius: 8px;

    height: 35px;
    margin-top: 30px;
 
    font-weight: 500;
 
  span{

    font-size: medium;

  }
  &:hover{
    span{
      -webkit-transform:translateX(16px);
      transform:translateX(10px);
  
      }
   }
}
}
