
@import "../../assets/scss/_variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");







.quantitey {
  font-size: large;
}
.button-section {
  position: relative;
  top: 60%;
  left: 50%;
}
.delet-icon {
  font-size: 30px;
  cursor: pointer;
  transition: 0.7s;
  color: $red;
}
.delet-icon:hover {
  transform: scale(1.3);
  color: rgb(237, 0, 0);
}


.maincard{
  box-shadow: $box-shadow  ;
  border: none;
}

.chek-avl-btn{
    border: none;
}

.news-heading{
  color:$white;
  font-weight: 650;
  background-color: $dark-blue;
}
.new{
  background-image: $card-background;
}

.date-select-section{
  
  .input-box.active-grey {
    .input-1 {
      border: 1px double rgb(198, 197, 197) ;
      border-radius: 4px;
      width: 219px !important;
    }
    .calender-logo{
      font-size: 22px !important ;
    }
    .dropdown-toggle::after {
      display: none;
      
  }
    .input-label {
      color: $grey;
      top: -11px;
      background: $white;
      font-size: 14px;
    }
  }
}
