.search{
    background-image: linear-gradient(to bottom,rgb(105,227,255),rgb(103, 201, 223),rgb(152, 211, 224));
}
.headingText{
    color: #2b3f43;
    padding-bottom: 35px;
    padding-top: 35px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 90%);
    padding-top: 3%;
}
// h1{
//     color: #2a2b33;
//     font-weight: bolder;
// }
// p{
//     padding-bottom: 35px;
//     padding-top: 35px;
//     font: 1.3em sans-serif;
//     padding: 20px;

// }
.button-serch{
    background-color: #2b3f43;
    width: 175px;
    border: none;
}
.button-serch:hover{
    background: #04a44b;
    background: linear-gradient(to bottom,#05d15f,#07c75c);
    color: #fff;
}

.category-select{
    width: 350px;
    height: 60px;
}


@media only screen and (max-width:425px){
   .cityCategory{
        display: flex;
    }

    .category-select{
        width: 40vh !important;
        margin-left:-1vh !important;
    }

    .background{
        background-color: pink !important;
    }

    .button-serch{
        width: 50vh !important;
        margin-top: 10vh !important;
        background: #000 ;
    }

    .button-serch:hover{
        background: #04a44b;
        background: linear-gradient(to bottom,#05d15f,#07c75c);
        color: #fff;
    }
}

// @media only screen and (max-width:375px){
//     .cityCategory{
//         display: flex;    
//     }

//     .category-select{
//         width: 120px;
//         margin-left:-5px ;
//         padding: 20px;
//     }
//     .button-serch{
//         width: 250px;
//         margin-top: 30px;
//         background: #000;
//     }  
// }
// @media only screen and (max-width:320px){ 
//     .cityCategory{
//         display: flex;    
//     }
// .background{
//     background-color: #000;
// }
//     .category-select{
//         width: 100px;
//         margin-left: -8px;
//         padding: 20px;
//     }
//     .button-serch{
//         width: 190px;
//         margin-top: 30px;
//         background: #000;
//     }  
// }

@media only screen and (max-width:768px){
    .cityCategory{
        display: flex;  
        justify-content: center; 
       
        background-color: #000;
    }

    .category-select{
        width: 200px;
        padding: 20px;
    }
    .button-serch{
        width: 10px;
        margin-left: -20px;
        background: rgb(235, 7, 7) !important;
    } 
    .button-serch:hover{
        background: #04a44b;
        background: linear-gradient(to bottom,#05d15f,#07c75c);
        border-radius: 50px;
    
        color: #fff;
    } 
}

@media only screen and (max-width:1024px){
    .cityCategory{
        display: flex;  
        justify-content: center; 
       
        background-color: #000;
    }

    .category-select{
        width: 200px;
        padding: 20px;
    }
    
    .button-serch{
        width: 150px;
        background: rgb(21, 5, 243);
    }  
    .button-serch:hover{
        background: #04a44b;
        background: linear-gradient(to bottom,#05d15f,#07c75c);
        border-radius: 50px;
        color: #fff;
    }
}