@import "../../assets/scss/_variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

.heading-content {
  height: auto;
  padding-top: 10%;
  
    
  background-image: linear-gradient(
    to bottom,
    rgb(105, 227, 255),
    rgb(103, 201, 223),
    rgb(152, 211, 224)
  );

  h1 {
    font-size: 76px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif !important;
    color: #2B3F43 !important;
  }
  h4{
    font-weight: 400 !important;
    color: #2b3f43 !important;
  }
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-left: 5%;
  background: #fff;
  border-radius: 50px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 4px 22px -10px rgb(0 0 0 / 42%);
}
#search-location-box{
  border: 1px solid #dfdfdf;
  font-size: 20px;
  border-radius: 50px;
  background-color: $white;
  color: $grey;
  height: 63px;
}
#select-media-box{
  width: 370px;
  color: $grey;
  background: $white;
  text-align: left;
  cursor: pointer;
  border: 1px solid #dfdfdf;
  font-size: 20px;
  height: 63px;
  border-radius: 50px;
}
#select-media-box:focus{
box-shadow: none;
}

.dropdown-toggle::after {
  margin-top: 12px;
  font-size: 30px;
  color: #65686a;
  float: right;
}

.search-btn{
  border: 1px solid #dfdfdf;
  font-size: 22px;
  border-radius: 50px;
  height: 63px;
  width: 120px;
  background-color: $red;
  color:$white;
  transition: .6s;
}
.dropdown-menu-location{
z-index: 0 !important;
}
#search-location-box:focus{
box-shadow: none;
}
.search-btn:hover{
  background-color: rgba(228, 6, 6, 0.939);
}
.dropdown-menu{
  width: 370px;
}