@import '../../assets/scss/_variables.scss';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

.text-container {
    padding-top: 7%;
    opacity: 75%;
    color: $black;
}

 .vision{
  margin-top: 2.5%;
 }
 .media-container{
  margin-top: 3%;
 }
 .about-cards{
 
  background-image: linear-gradient(to bottom,rgb(23, 21, 29),rgb(37, 38, 41));
  text-align: center;
  color: $white;
  padding-top: 7px;
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
  box-shadow: $box-shadow;
 }
.about-cards h6{
  padding-bottom: 4px;
  border-bottom: 1px solid $yellow;
}


.container2{
    background: transparent;
    display: flex;
    text-align: center;
    align-items: center;
  }
  #media-img{
    position: relative;
  cursor: pointer;
    padding-left: 35px;
  }
  
  #map-img{
    position: relative;
  cursor: pointer;
    margin-left: 35px;
    height:426px ;
    width: 390px;
 
  }
 

  .text-container{
    color: $black;
  }
  
 .text-container p::first-letter{
  color:$grey;
  font-size: $subhead;
  font-weight: 600;
  }
  .grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-item {
    text-align: center;
  }
  .logo-img{
    height: 100px;
    width: 150px;
  }

  #root{
    background-color: $white;
    padding: 0%;
    margin: 0%;
  }
.load-button{
  font-weight: 600;
  color: $black;
  background-image: $buttonA;
  transition: 1.3s;
  border: $grey;
  border: none;
}
.load-button:hover{

 
  transform: scale(1.1)

}
#care-img{
  padding-top: 1px;
}

@media screen and (max-width: 1024px) {
 .about-cards h6{
    font-size: 12px;
    padding-bottom: 3px;

  }
  .vision{
    margin-top: 1.5%;
   }
  .grid-container1 {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
  }
  #map-img{
    position: relative;
  cursor: pointer;
  padding-top: 25px;
  padding-left: 32px;
 
  }
  #care-img{
    padding-top: 30px;
  }
}

@media screen and (max-width: 425px) {
  #care-img{
    display: none;
  }
  #map-img{
    padding-top: 45px;
    padding-left: 0px;
  }
  #media-img{
  padding-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  #media-img{
    padding-top: 20px;
    }
    #map-img{
      margin-left: 0%;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
    }
    #care-img{
   margin-top: 15%;
    }
}