.service-content {
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #373435;
  }
  h6 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #373435;
  }
  .service-card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .service-card-img {
    height: 150px;
    width: 200px;
  }

  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.5;
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 25px;
    line-height: 1;

    color: rgb(70, 70, 70);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media screen and (max-width: 1366px) {
    h1 {
      font-size: 2.2rem;
   
    }
    h6 {
      font-size: 1rem;
   
    }
    .service-card {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    .service-card-img {
      height: 120px;
      width: 145px;
    }

    .slick-prev.slick-disabled:before,
    .slick-next.slick-disabled:before {
      opacity: 0.25;
    }

    .slick-prev:before,
    .slick-next:before {
      font-size: 20px;
    
    }
    .View-Detail{
      font-size: small;
    }
  }
}
