@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// colors

$body           :    #000000;
$grey           :    #404040;
$darkgrey       :    #a9a9a9;

// font-sizes
$heading        :       4rem;
$subhead        :       20px;
$normal         :       16px;
$input-group-addon-bg : #ff000000;
$input-bg : #ff000000;