.header{
    background: #20344d;
    position: sticky;
    top: 0px;
    z-index: 1;
   
}

.heading-text{
    font-weight: 600;
    text-decoration: none;
    color: #dbd9d9;

}
.icon-div{
    border-right: 1px  solid white ;
}

.icon-div:hover{
    display: block;
    background: #337ab7;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    a.heading-text {
        display: none;
    }
}