@import '../../assets/scss/_variables.scss';
@import "~bootstrap/scss/bootstrap";

body {
  padding: 0;
  margin: 0;
  background-color: $body;
}

.brand {
  width: 200px;
}

.home-heading {
  background-color: $grey;
}

.sub-head {
  font-size: $subhead;
}

.fs-head {
  font-size: $heading;
}

.scale {
  transform: scaleX(-1);
  right: 110px;
  position: absolute;
}

.location {
  padding: 30px;
  width: 100%;
  height: auto;
  border-radius: 50px;
  background-color: #2c2c2c;
}

a.text-light.nav-link {
  margin-left: 20px;
}

.search-headline {
  font-size: 3.5rem;
  position: absolute;
  left: 0;
  right: 0;
}

.round-circle {
  border: 2px solid;
  border-radius: 25px;
}

.img-square {
  position: relative;
  height: 410px;
  width: 300px;
  background-color: #555;
  border-radius: 25px;
}

.img-square>img {
  position: absolute;
  width: 260px;
  height: 310px;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
}

.icons {
  position: absolute;
  transform: translateX(-50%);
  z-index: -10;
}

.dots {
  position: absolute;
  right: 1em;
}

.search-cities {
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 10px 53px;
  right: 25%;
}

.search-media {
  position: absolute;
  top: 62%;
  transform: translateY(-45%);
  border: 2px solid #fff212;
  border-radius: 25px;
  padding: 10px 50px;
  right: 25%;
}

.india-map>img {
  width: 85%;
}

.ul-list {
  list-style: disc;
}
.cities-top {
  position: relative;
}
.cities {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  background-color: $grey;
}

.footer-bottom-line {
  border-bottom: 1px solid $darkgrey;
}

.footer-side-line {
  border-left: 1px solid $darkgrey;
}

.footer-bottom-short-line {
  border-bottom: 1px solid $darkgrey;
  border-width: 95%;
}

.pos-absolute {
  position: absolute;
}

.round-pill {
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 15px;
  color: white;
  margin: 0;
}

@media only screen and (max-width: 450px) {
  .brand {
    width: 140px;
  }
  span.search-headline {
    padding: 15px 0 !important;
  }
  nav.navbar.navbar-expand-lg {
    padding: 10px;
  }
  .search-cities {
    padding: 10px 16px;
  }
  .search-media {
    padding: 10px 13px;
  }
  p.fw-bold.fs-head.fs-heading.lh-sm.pt-5 {
    font-size: 22px !important;
    padding-top: 0 !important;
  }
  p.fs-head.pt-5.fw-bold {
    font-size: 22px !important;
  }
  p.sub-head.fw-normal {
    font-size: 12px !important;
  }
  .col.mobile.footer-side-line {
    border: none !important;
  }
  .col-md-4.link-center, p.text-light.text-end {
    display: flex;
    justify-content: center;
  }
  ul.d-flex.list-inline.sub-head.ul-list {
    padding: 0 !important;
}
}

@media only screen and (max-width: 768px) {
  .mobile-hide{
    display: none;
  }
  p.fw-bold.fs-head.fs-heading {
    font-size: 62px !important;
    padding-top: 0 !important;
  }
  p.fs-head.pt-5 {
    font-size: 52px !important;
  }
  p.sub-head {
    font-size: 22px !important;
  }
  .home-heading-main {
    padding: 0 !important;
  }
  .india-map > img {
    width: 100%;
    margin-top: 48px;
  }
  .home-map {
    padding: 0 !important;
  }
  .container-fluid.home-main {
    padding-top: 0px !important;
  }
  p.display-3.fw-bold {
    padding: 0 10px !important;
  }
  ul.d-flex {
    list-style: none;
  }
  p.display-3.fw-bold.px-5 {
    font-size: 55px;
  }
  li.me-xxl-5 {
    padding-right: 15px !important;
}
  .search-buttons {
    display: flex;
    justify-content: center;
  }
  .search-cities , .search-media {
    position: unset;
    transform: translateY(0);
    margin: 0px 10px;
  }
  .search-headline {
    position: unset;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
  }
}
@media only screen and (max-width: 991px) {
  .round-circle {
    border: none;
  }
}
@media only screen and (max-width: 1024px) {
  .pos-absolute {
    position: unset;
  }

  a.text-light.nav-link {
    margin-left: 0px;
  }

  .icons {
    width: 550px;
  }

  .search-headline {
    font-size: 1.2rem !important;
    padding-top: 2rem !important;
  }
  .fs-head {
    font-size: 2rem !important;
  }

  .sub-head {
    font-size: 12px !important;
  }

  .dots {
    width: 110px;
  }

  .fs-head {
    font-size: 2.6rem;
  }
  .img-square {
    height: 350px;
    width: 250px;
  }
  
  .img-square>img {
    width: 235px;
    height: 270px;
  }
  .india-map>img {
    display: flex;
    justify-content: center;
  }
  .cities-top {
    position: unset;
  }
  .cities {
    position: unset;
    top: 50%;
    transform: translateY(0);
  }
  button.collapsed.navbar-toggler {
    background-color: #404040;
  }
  button.navbar-toggler {
    background-color: #404040;
}
}

@media only screen and (max-width: 1440px) {
  .fs-head {
    font-size: 2.6rem;
  }

  .sub-head {
    font-size: $normal;
  }

  .icons {
    width: 650px;
  }

  .search-headline {
    font-size: 1.6rem;
    padding-top: 1.5rem;
  }
}