
.fixd-nabar2{
    background-color: #20344D;
    .brand-logo {
       width: 200px;
    }
    
.font-map-btn:hover{
  
    color: rgb(224, 224, 224)!important;
   
    background-color: #3f5979 !important;
    
   
}
.font-map-btn{

    color: rgb(255, 255, 255);
    font-weight: 600 !important;
   background-color: #334e6e !important;
   }
.font-map-logo{
    
    height: 23px ;
    
}
#dropdown-basic-user{
    display: none ;
}
.userDetail{
    .dropdown-toggle::after {
        display: none;
        
    }
}
.mapLink{
    background-color: #20344D;
    width: 114px;
    height: 40px;

}
.nav-text-btn {
    color: white!important;
    font-weight: 600 !important;
    display: inline-block !important;
    width: auto !important;
}

.nav-text-btn::after {
    content: '' !important;
    display: block !important;
    width: 0 !important;
    height: 3px !important;
    background: #fff312e1 !important;
    transition: width .4s ease-in !important;
  }
  
  .nav-text-btn:hover::after {
    width: 100% !important;
  }
}







.userDetail2{
    #dropdown-basic-user{
        display: none ;
    }
    .dropdown-toggle::after {
        display: none;
        
    }
   
    .cart-logo{
        font-size: 35px;
        color: white;
    }
    
    .anchor{
        text-decoration: none;
    }
    .login-icon-cart{
        height: 32px;
    }
    
}

.login-icon {
    height: 31px !important;
    width: 31px !important;
  }