.citylist {
   background-image: linear-gradient(to bottom,#40628b,#9baabe,#f9fbfd);
   h1{
    font-size: 45px;
    font-family: "Montserrat";

}
h6{
    
    font-weight: 300;
    font-family: "Montserrat";
}
.gate-img{
    width:570px ;
    height: 366px;
}
.ec-gate-img{
    width: 280px !important;
    height: 175px !important;
}
.city-img-container {
    position: relative;
   z-index: 0;
   transition: transform 0.3s;
    .bottom-left {
        position: absolute;
        bottom: 30px;
        color: rgb(255, 255, 255);
        left: 16px;
        font-family: "Montserrat" !important;
        font-weight:  550 !important;
      }
      .bottom-left-media{
        position: absolute;
        bottom: 8px;
        color: rgb(255, 255, 255);
        left: 16px;
        font-size: small;
        font-family: "Montserrat" !important;
        padding-right: 4px;
        border-radius: 4px;
        padding-left: 4px;
        background-color: #DC3545;
        opacity: 80%;

      }
  }

}

.city-img-container:hover {
transform: scale(1.1);
z-index: 2;
}
.border-colore{
    color:  #DC3545 !important;
}

.underline>hr {
    margin: 1rem 0;
    color: black !important;
    border: 0;
    height: 0px;
    border: 1px solid #000 !important;
    width: 38%;
    transform: translateX(81%);
    opacity: 25;
}

.onHover:hover {
    color: blue;
    opacity: 50%;
    /* Chrome, Safari, Opera */

}


@media screen and (max-width:425px) {
    .citylist {
        display: none;
    }
}

@media screen and (max-width:1024px) {

    .heading {
        border-bottom: 4px solid black;
        margin-bottom: 50px !important;
        margin-left: 90px !important;
        margin-right: 90px !important;

        padding-top: 50px !important;
    }
}

@media screen and (min-width:2560px) {
    .citylist {
        display: none;
    }
}