.select {
    width: 12rem;
}

li {
    list-style-type: none;
}

.rowCheck {
    scrollbar-width: thin;
    height: 150px;
    width: 200px;
    overflow-y: scroll;
}

.listCahnge {
    border: 2px solid white;
    padding: 0 20px 0 20px;
    border-radius: 10%;
    margin-left: 5px;
}

.rupees {
    border: 2px solid yellow;
    padding: 0 20px 0 20px;
    border-radius: 10%;
}

.cart {
    padding: 4px;
}

.rupes {
    padding: 4px;

}

.loginPriceText {
    font-size: 0.9rem;
    margin-top: auto;
}

.viwDetail {
    display: flex;
    margin-left: initial;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.viewText {
    font-size: 0.9rem;
    margin-top: auto;
}

.viewMe {
    margin-left: 10px;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 1rem;

}

.overflow {
    position: relative;
    overflow-y: scroll;
    height: 66rem !important;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    scroll-snap-align: thin;
}

.overflow::-webkit-scrollbar {
    width: 1px;
}

.rowCheck::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: white;
    margin: 0.1px;
    width: 90px;
}

::-webkit-scrollbar-thumb {
    background: black;
    margin: 0.1px;
}


.view {
    border-radius: 30%;
    border: solid;
}

.back {
    border-radius: 30%;
    border: solid;
}
