.digit-media-brand{
    background-image: linear-gradient(to bottom,  #20344D, #2c4869,#20344D);
   //  background-color: #20344D !important;
 .viewabout-main{
    border-right: 3px solid #1c334a;
 }
 .About-media-detail{
   font-size: 14px;
   font-family: "Montserrat";
   
   
 }
 .aboutMedia-heading{
   font-family: "Montserrat";
  
 }
 .media-location-logo{
height: 31px;
 }
 .media-hording-logo{
   height: 31px;
 }
}

