.digit-media-brand{
    background-image: linear-gradient(to bottom,  #20344D, #324964,#20344D);
   //  background-color: #20344D !important;
 .viewabout-main{
    border-right: 3px solid #1c334a;
 }
 .About-media-detail{
   font-size: 14px;
   font-family: "Montserrat";
   
   
 }
 .aboutMedia-heading{
   font-family: "Montserrat";
   font-weight: bold;
 }
 .media-location-logo{
    color: #ea1b2f;
    font-size: 27px;
 }
 .media-hording-logo{
    font-size: 23px;
    color: #FFF212;
 }
}

