.drop-data ul li {
  color: rgb(103, 103, 103);
  padding: 4px;
  transition: 1.1s;
  cursor: pointer;
  list-style-type: none;
}
.drop-data ul li:hover {
  transform: scale(1.1);
  color: rgb(60, 60, 60);
}

.border-box {
  border-right: 1px solid #c8c9ca;
}
#write-btn {
  width: 150px;
  font-size: 19px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 20px;
  height: 48px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #24272a, #3b6ca7, #2460aa,#0f4e9a);
  box-shadow: 0 2px 5px 0 (#223852);
  --moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}

