@import "../../assets/scss/_variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");

.our-clients-content{
  .slick-next:before{
    display: none !important;
 }

 .slick-next{
    display: none !important;
 }
 .slick-prev:before{
    display: none !important;
 }
 .slick-prev{
    display: none !important;
 }

 .trending-card-img {
  height: 100px;
  width:150px; 
    position: relative;
   z-index: 0;
   .bottom-left {
    position: absolute;
    bottom: 34px;
    color: #FFFFFF;
    left: 16px;
    font-size: 1.1rem;
 
  }
  .bottom-left-media{
    position: absolute;
    bottom: 8px;
    color: #FFFFFF;
    left: 16px;
    font-size: 1.3rem;
   font-weight: 600;
    padding-right: 0px;
  }

 }
 .trending-cardd{
    height: 100px;
    width:150px; 
 }
}
.enquire-content {
  display: flex;
  justify-content: center;
  align-items: center;
  .enquire-description-row {
    background-color: #fdfdfd;
    border-radius: 7px;
    box-shadow: rgba(98, 98, 105, 0.2) 0px 7px 29px 0px;
    width: 65vw !important;
  }
  .enquire-description {
    background-color: #373435;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    .enquire-qsns-cant {
      color: #ffff;
      font-size: 1.2rem;
      font-weight: 500;
    }
    .enquire-qsns-cant-qsn {
      color: #ffff;
      font-size: 1.3rem;
      font-weight: 600;
    }
    .enquire-ans-cant {
      font-size: small;
      color: #ffff;
    }
    .hor-border {
      border-top: 3px solid #ffff !important;
      width: 118px !important;
    }
  }
  .txt-clr-tlk {
    color: #373435;
    font-size: 2.2rem;
  }
  .txt-clr{
    color: #373435;
  }
  .form-control {
    border: none !important;
    border-bottom: 1px solid #b5b4b4 !important;
  }
  label {
    color: #6c757d !important;
    font-size: 0.9rem;
  }
  ::-webkit-input-placeholder {
    font-size: 1rem !important;
  }
  .form-control:focus {
    border-color: rgba(100, 100, 100, 1) !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .message-btn{
   background-color: #373435;
   color: rgb(237, 237, 237);
   font-size: 1rem;
   border-radius: 4px !important;
  }
  .message-btn:hover{
    background-color: #4a494a;
    color: rgb(237, 237, 237);
    
   }
 
   
   @media screen and (max-width: 1366px) {
    // .enquire-description-row {
 
    //   width: 80vw !important;
    // }
    .enquire-description {
 
      .enquire-qsns-cant {
     
        font-size: 1.1rem;
 
      }
      .enquire-qsns-cant-qsn {

        font-size: 1.1rem;
        
      }
      .enquire-ans-cant {
        font-size: small;
   
      }
      .hor-border {
        width: 110px !important;
      }
    }
    .txt-clr-tlk {
      font-size: 2.1rem;
    }
    label {
    
      font-size: 0.8rem;
    }
    ::-webkit-input-placeholder {
      font-size: .9rem !important;
    }
   }
}
