@import '../../assets/scss/_variables.scss';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');


.navbar-main-floating{
 background-color: #20344D;

.float-brand{
  width: 200px;
}
 .dropdown-toggle::after {
   display: none;
 }
 *:focus {
  outline: none;
}

#search-button-flotnav{
  width: 5vw;
  height: 38px;
}
 #search-location-box{
  font-size: 15px;
  border-radius: 5px;
  background-color: $white;
  color: $grey;
  height: 38px !important;
  width: 25vw !important;
}

.dropdown-menu {
  width: 20vw;
  padding: 0px !important ;
}
.css-1s2u09g-control{
  margin: 0% !important;
  margin-bottom: 2px !important;
  border: none;
  height:  37px !important;
  width:25vw !important;
   font-size: 15px;
  background-color: $white;
  color: $grey;

}

#select-media-box{
 
  width: 20vw !important;
  color: $grey;
  background: $white !important;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  padding-bottom: 2px;
  height: 38px !important;
  border-radius: 5px;
}
.select-media-icon{
  height: 24px;
  margin-right: 4%;
  margin-left: 2%;
}
// ghj
.float-map-btn{
  color: #FFFFFF;
  font-weight: 500;
  padding-top: 2px;
  height: 38px;
  background-color: transparent;
   border:  2px groove #ffffffe1 ;
  .float-map-logo{
    height: 20px ;


  }
 
}
.float-map-btn:hover{
 color: $white;
 border:  2px solid #fff200 ;
}
.cart {
  cursor: pointer;
}
.cart span:nth-child(1) {
  font-size: 1.9rem;
  margin-top: 0%;
  color: white;
}
.cart span:nth-child(2) {
  padding: 0 3px;
  background-color: $red;
  color: white;

  border-radius: 5px;
  position: relative;
  top: -45px;
  left: 26px;
  
}

}
.new-search {
position: fixed;
 background-color:#20344D ;
 z-index: 5;
 top: 24px;
 width: 100vw;

}
// .search-button{
//  background-color: #68E2FE !important;
//  transition: 0.5s;
// }
// .search-button:hover{
//  background-color: #9FD5E1;
// }


.search-logo{
font-size: 26px;

}

.cart {
  cursor: pointer;
}
.cart span:nth-child(1) {
  font-size: 1.7rem;
  margin-top: 0%;
  color: white;
}
.cart span:nth-child(2) {
  padding: 0 3px;
  background-color: $red;
  color: white;

  border-radius: 5px;
  position: relative;
  top: -45px;
  left: 26px;
  
}
