@import '../../assets/scss/_variables.scss';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');


.navbar-main-floating{
 background-color: #000000;

.float-brand{
  box-shadow: rgba(28, 28, 28, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 200px;
  margin-left: 48px;
}
@media screen and (max-width: 1366px) {
.float-brand{
  box-shadow: rgba(28, 28, 28, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 180px;
  margin-left: 19px;}
  .cart {
  margin-left: 0px !important;
  }
  .float-map-btn{
    .float-map-logo{
      height: 19px ;

    }
  }  
}
 .dropdown-toggle::after {
   display: none;
 }
 *:focus {
  outline: none;
}

#search-button-flotnav{
  width: 4vw;
  height: 38px;
  border-radius: 0px;
  border-top-right-radius:16px;
  border-bottom-right-radius:16px;
}
.basic-addon{
background-color: #ededed !important;
  border-top-left-radius:16px;
  border-bottom-left-radius:16px;
  border: none;
  .basic-addon-icon{
    font-size: 21px;
  }
}
 #search-location-box{
border-radius: 0px;
  border: transparent !important;
  width: 19vw !important;
  color: $grey;
  background: $white !important;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  padding-bottom: 3px;
  height: 38px !important;
  border-right: 1px dotted rgb(205, 205, 205) !important ;

}
.search-inner-drop{
  .dropdown-menu {
    width: 19vw;
    padding: 0px !important ;
    cursor: pointer;
  }
}




#select-media-box{
 border: transparent !important;
  width:19vw !important;
  color: $grey;
  background: $white !important;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  padding-bottom: 2px;
  height: 38px !important;
  border-radius: 0px ;
  
}
.select-media-icon{
  height: 24px;
  margin-right: 4%;
  margin-left: 2%;
}

.float-map-btn{

  border: transparent;
  color: #ffffff;
  background-color: #252c35;
  font-weight: 500;
  padding-top: 3px;
    height: 38px !important;
  width: 78px;
  .float-map-logo{
    height: 17px ;
  }
}
.nav-link:hover{
  color: #d8d8d8;
}


}
.new-search {
position: fixed;

 z-index: 5;
 top: 0%;
 width: 100vw;

}





.cart {
  margin-left: 16px;
  cursor: pointer;
}
.cart span:nth-child(1) {
  font-size: 1.6rem;
  margin-top: 0%;
  color: white;
}
.cart span:nth-child(2) {
  padding: 0 3px;
  background-color: $red;
  color: white;

  border-radius: 5px;
  position: relative;
  top: -42px;
  left: 26px;
  
}
