@import '../../assets/scss/_variables.scss';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: $black;
  font-family: 'Montserrat', sans-serif;
}

.head {
  font-size: $head;
}

.subhead {
  font-size: $subhead;
}

.normal {
  font-size: $normal;
}

.midhead {
  font-size: $midhead;
}

.login-form {
  background-color: $grey;
}
.divider {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid $white; 
  line-height: 0.1em;
  margin: 50px 0 0 0; 
} 

.divider span { 
   background: $grey; 
   padding:0 20px; 
}