@import '../../assets/scss/_variables.scss';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

.head {
    font-size: $head;
}
.subhead {
    font-size: $subhead;
}

.normal {
    font-size: $normal;
}

.start-date > .input-group, .end-date > .input-group {
    padding: 7px 7px 4px 10px;
    background-color: transparent;
    width: 160px;
}
.end-date {
    top: 0;
    margin-left: 160px;
}
.media-img {
    width: -webkit-fill-available;
}
.remove-btn {
    
    right: 12px;
}
.total-price {
    top: 70px;
    margin-bottom: 17px;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.cart-item , .gross-total{
    background-color: $light-grey;
}
.cart-total , .grey {
    background-color: $dark-grey;
}
.dates {
    transform: translateX(15%);
}
.input-days {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $dark-grey;
    width: 55px;
}
.total-days {
    text-align: center;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $black;
}