
.overflow {
  background-color: #F1F1F1;
}

.rowCheck {
  scrollbar-width: thin;
  height: 150px;
  width: 200px;
  overflow-y: scroll;
}

.listCahnge {
  border-radius: 10%;
  margin-left: 5px;
}
.cart {
  width: 23px;
  height: 25px;
}
.media-filter-text-card-head{
  font-family: "Montserrat";
  font-size: medium;
  font-weight: 500 !important;
}
.media-filter-text-card-detail{
  font-family: "Montserrat";
  font-size: 13px;
}
.see-detail{
  font-family: "Montserrat";
  font-size: 10px;
}

.detail-btn{
  font-size: 17px ;
}
.iconback {
  width: 46px;
  padding-top: 5px;
  height: 48px;
  // margin-top: 20px;
  background-color: #445c77;
}
.media-heading {
  color: rgb(23, 23, 23);
  font-weight: 1rem;
  font-family: "Montserrat";
}
.locationIcon {
  padding-top: 1px;
  background-color: #445c77;
  width: 46px !important;
  height: 48px !important;

}

.viewabout {
  display: inline-flex;
}



.mediabackground {
  background-color: white;
}





 
.cartlogo {
  width: 24px;
  height: 40px;
  margin: -36px;
}
.singlecartback {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.SingleCartDiv {
  background-color: gray;
  padding-bottom: 11px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
}
.btn-hover {
  background-image: linear-gradient(90deg, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgb(65 132 234 / 75%);
  --moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.backgroundArea:hover {
  transition: 0.5s all ease-in-out;
  // transform: scale(0.9);
}
.backgroundArea {
  overflow: hidden;
  width: auto;
}
.hello {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.seeDetails {
  background-color: #ffc34d;
}
.addonCart {
  height: 25px;
  width: 25px;
  margin-left: 6px;
}

.sub-category-search {
  .form {
    position: relative;
  }

  .form .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #919db3;
    font-size: large;
  }

  .form-input {
    height: 35px;
    text-indent: 33px;
    width: 188px;
    
  }

  .form-input:focus {
    box-shadow: none;
    border: none;
  }
}
.multi-card{
    border: 1px solid transparent !important;
    cursor: pointer;
    transition: 0.6s;
}

.multi-card:hover{
  
    border: 1px solid rgb(205, 204, 204) !important;
    background: linear-gradient(
      to bottom,
      rgb(229, 227, 227),
      rgb(236, 235, 235),
      transparent
    ) !important ;
    box-shadow:   0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.media-card-img{
    height: 180px;
  
}
.addonCart-plus{
  color: #233751;
 height: 29px;
}
.addonCart-img{
  height: 26px;
}