.mainImage>img{
    height: auto;
    width:315px;
}
.heading>img{
    height: 250px;
    width:400px;
    border:2px solid #c4e9db;
    border-radius: 10px;
}
.heading{
    margin:10px;
}

.mainImage:hover{
    transition: 0.5s all ease-out;
    transform: scale(1.1);
}
.mainImage{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    margin:10px;
}

.overflow {
    position: relative;
    overflow-y: scroll;
    height: 50rem !important;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    scroll-snap-align: thin;
}

.rowCheck{
    scrollbar-width: thin;
    height: 150px;
    width: 200px;
    overflow-y: scroll;
}

.overflow::-webkit-scrollbar {
    width: 1px;
}

.rowCheck::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: black;
    margin: 0.1px;
    width: 90px;
}

::-webkit-scrollbar-thumb {
    background: white;
    margin: 0.1px;
}

.mediaName{
    background: linear-gradient(90deg,#6C757D,#8d9296,#959ca1);
    color: #fff;
    margin-left: 17px;
    margin-right: 17px;
}
.rowCheck > ul{
    list-style-type: none;
}

.listCahnge {
    border-radius: 10%;
    margin-left: 5px;

}

.cart {
    width: 23px;
    height:25px;
}

h5,h6{
    font-size: 15px;
}
#cartCart{
    font-weight: bolder;
}
.vl {
    border-right: 4px solid rgb(0, 0, 0);
}

.iconback{
    width: 54px;
    height: 54px; 
    padding: 15px;
    margin-top: 20px;
    color: #fff;
}
.locationIcon {
    width: 55px;
    height: 54px;
    padding: 16px;
    margin-top: 43px;
    padding-left: 20px;
    padding-top: 12px;
}
.viewabout{
    display: inline-flex;

}
.aboutMedia>h6{
  font-weight: 700;
    font-size: 0.8rem;
}

.bottomfooter>h4{
    font-weight:500;
    font-size: 1.3rem;
}
.mediabackground{
    background-color: #9fe2f127;
}

.rupeesDiv {
    width: 40px;
    height: auto;
    background-color:gray;
}

.SinglerupeesDiv >img{
    margin-left: 18px
}

.thumlinImage{
    height: auto;
    width: 600px;
}

.singleMediaData>h5{font-size: larger;}
.cartlogo{
    width: 24px;
    height: 40px;
    margin: -36px;
}
.singlecartback{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.SingleCartDiv{
    background-color: gray;
    padding-bottom: 11px;
    margin-bottom: 10px;
    cursor: pointer;
}
.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
}
.btn-hover{
    background-image: linear-gradient(90deg,#25aae1,#4481eb,#04befe,#3f86ed);
    box-shadow: 0 4px 15px 0 rgb(65 132 234 / 75%);
    --moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.backgroundArea:hover{
    transition: 0.5s all ease-in-out;
    // transform: scale(0.9);
}
.backgroundArea{
    overflow: hidden;
    width: auto;  
}
.hello{
    box-shadow: 3px 3px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.seeDetails{
    background-color: #FFC34D;
}
.addonCart{
    height: 30px;
    width: 30px;
    margin-left: 6px;
    padding: 3px;
    color: white;
    font-size: 21px;
}